.container {
    text-align: center;
    margin: 60px;
}

.container h3 {
    background: #121FCF;
    background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
}

.container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.container img {
    width: 300px;
}